.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.toggle-container .icon-left,
.toggle-container .icon-right {
  font-size: 20px;
  transition: color 0.3s ease;
}

.toggle-switch {
  width: 100px;
  height: 40px;
  position: relative;
}

.track {
  width: 100%;
  height: 100%;
  background: var(--toggle-track);
  box-shadow: inset 2px 4px black;
  border-radius: 34px;
  border: 2px solid black;
  position: relative;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.thumb {
  width: 32px;
  height: 32px;
  background: var(--toggle-thumb);
  box-shadow: 2px 4px black;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 1px;
  left: -1px;
  transition:
    transform 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.toggle-switch.active .thumb {
  transform: translateX(66px);
}

.popout {
  border: 3px solid black;
  border-radius: 10px;
  padding: 8px;
  transition: all 100ms ease-in-out;
  box-shadow: none;
}
