.menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;

  background: var(--hamburger-bg);
  backdrop-filter: blur(6px);

  display: grid;
  place-content: center;
  gap: 1rem;

  opacity: 0;
  pointer-events: none;
  transform: scale(0.98);
  height: 100vh;
  width: 100vw;

  transition:
    opacity 200ms ease,
    transform 200ms ease;
}

.menu-overlay.open {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.menu-close {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
}
